---
http_interactions:
- request:
    method: get
    uri: https://morbotron.com/api/search?q=That%20Darn%20Katz!
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"Id":2488034,"Episode":"S10E06","Timestamp":197197},{"Id":2345088,"Episode":"S07E13","Timestamp":1003502},{"Id":2488023,"Episode":"S10E06","Timestamp":195529},{"Id":2345087,"Episode":"S07E13","Timestamp":1003711},{"Id":2345093,"Episode":"S07E13","Timestamp":1003919},{"Id":2488033,"Episode":"S10E06","Timestamp":197406},{"Id":2488032,"Episode":"S10E06","Timestamp":196988},{"Id":2488028,"Episode":"S10E06","Timestamp":196363},{"Id":2345099,"Episode":"S07E13","Timestamp":1004545},{"Id":2488024,"Episode":"S10E06","Timestamp":195320},{"Id":23450[...]
- request:
    method: get
    uri: https://morbotron.com/api/caption?e=S10E06&t=197197
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Episode":{"Id":377,"Key":"S10E06","Season":10,"EpisodeNumber":6,"Title":"Saturday
        Morning Fun Pit","Director":"Crystal Chesney-Thompson","Writer":"Patric M.
        Verrone","OriginalAirDate":"17-Jul-13","WikiLink":"https://en.wikipedia.org/wiki/Saturday_Morning_Fun_Pit"},"Frame":{"Id":2488034,"Episode":"S10E06","Timestamp":197197},"Subtitles":[{"Id":191759,"RepresentativeTimestamp":196154,"Episode":"S10E06","StartTimestamp":194736,"EndTimestamp":197656,"Content":"after
        they built that darned basketball arena!","Language":"en"},{"Id":191760,"RepresentativeTimestamp":200951,"Episode":"S10E06","StartTimestamp":199074,"EndTimestamp":202410,"Content":"Now
        everybody likes basketball instead of kabuki!","Language":"en"}],"Nearby":[{"Id":2488031,"Episode":"S10E06","Timestamp":196571},{"Id":2488030,"Episode":"S10E06","Timestamp":196780},{"Id":2488032,"Episode":"S10E06","Timestamp":196988},{"Id":2488034,"Episode":"S10E06","Timestamp":197197},{"Id":2488033,"Episode":"S10E06","Timestamp":197406},{"Id":2488035,"Episode":"S10E06","Timestamp":197614},{"Id":2488036,"Episode":"S10E06","Timestamp":197823}]}'
  recorded_at: Mon, 18 Mar 2019 21:12:25 GMT
recorded_with: VCR 4.0.0
